.gls-labels .button {
  width: 100%;
}

.gls-labels-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gls-button-danger {
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}
